:root{
  --primary: rgb(26, 127, 132);
  --secondary: rgb(34, 151, 157);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("https://img.freepik.com/free-vector/shiny-white-gray-background-with-wavy-lines_1017-25101.jpg?w=2000")
    no-repeat fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn:active{
  background-color:var(--secondary)
}

.btn:hover{
  background-color:var(--secondary);
}

.btn:focus{
  background-color:var(--secondary);
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}

/* .btn:not(:active){
  background-color:var(--primary);
} */